/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* фон #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* акцент #188CE8 */
/* фон текста rgba(47, 48, 58, 0.8) */
/* Фон футера #2F303A */
/* Фон сетей футера rgba(255, 255, 255, 0.1)  */
/* Текст футера rgba(255, 255, 255, 0.6) */
:root {
    --primary-text-color: #757575;
    --main-title-text-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #188CE8;
    --primary-white-color: #ffffff;
    --background-color: #F5F4FA;
    --text-background-color: rgba(47, 48, 58, 0.8);
    --footer-background: #2F303A;
    --footer-network-backgr: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}


/* Работа с лого */
.logo{
    color: #000000;

    font-family: Raleway;
    letter-spacing: 0.03em;
     font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
}
.logo:hover {
    color: var(--accent-color);
}

/* Span Лого */
.letter{
    color: var(--accent-color);
}
/* Забрать точки перед текстом */
.list {
    list-style: none;
}

/* Навигация сайта */
.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
/* Отображение текущей страницы*/
.site-nav .link.current {
    color: var(--accent-color);
}

/* Контакты */
.site-contact .link{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
}

/* Герой */
.hero-title {
    color: var(--main-title-text-color);
    background-color: var(--background-color);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
    
        text-align: center;
        letter-spacing: 0.06em;
}

/* Кнопки */
.button .link:hover,
.button{
    font-family: Roboto, sans-serif;
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        
}

/* Текст секции */
.section-title {
    color: var(--title-text-color);

    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}

/* Имена работников */
.section-name{
    color: var(--title-text-color);

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

/* Главный текст */
.text{
color:var(--primary-text-color);

font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* То, чем занимаемся */
.working{
   color: var(--main-title-text-color); 
   background-color: var(--text-background-color) ;

font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

/* Фон секции работников */
.section-bkg{
    background-color: var(--background-color);
}

/* Взаимодействие с соцсетями */
.networks .link{
    background-color: var(--background-color);
}

.networks .link:hover,
.networks .link:focus{
    background-color: var(--accent-color);
}

/* Взаимодействие с клиентами */
.clients .link{
    background-color: var(--primary-white-color);
}

.clients .link:hover,
.clients .link:focus{
background-color: var(--accent-color);
}

/* Фон футера */
.footer{
background-color: var(--footer-background);
}

/* Работа с футером */
.footer-networks .link{
background-color: var(--footer-network-backgr);
}
.footer-networks .link:hover,
.footer-networks .link:focus{
background-color: var(--accent-color);
}

.address{
    color: var(--primary-white-color);
}
